*.jpg
_datasets/cifar-10/batches.meta
_datasets/cifar-10/data_batch_1
_datasets/cifar-10/data_batch_2
_datasets/cifar-10/data_batch_3
_datasets/cifar-10/data_batch_4
_datasets/cifar-10/data_batch_5
_datasets/cifar-10/readme.html
_datasets/cifar-10/test_batch
cnn-concepts/tmp/*
.DS_Store
